body {
  text-align: center;;
  background-color: #00FFFF;
  font-family: "Segoe UI" !important;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.campuslife_mainDiv {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #C7C7C7;
}

.campuslife_mainDiv img {
  width: 100%;
  height: 300px;
}

.campuslife_mainDiv hr {
  width: 100%;
}

.campuslife_mainDiv h5, .campuslife_mainDiv p {
  margin-left: 20px;
}

#achievementsid {
  padding-bottom: 10px;
}

.achievements_head {
  font-size: 20px;
  padding: 6px 22px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
}

.achievements_head i {
  float: right;
}